<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Please select:
 <form method="GET" action ="{% url 'create_appointment' %}">
    {% csrf_token %}
    <input type="hidden" name="user_id" value={{ user_id }}>
         <select name="category">
             {% for category in illness_categories %}
                 <option value={{category.illness_category_id}}>{{ category.name }}</option>
             {% endfor %}
         </select>
         <select name="illness">
             {% for illness in illnesses %}
                 <option value={{illness.illness_id}}>{{ illness.name }}</option>
             {% endfor %}
         </select>
    <input type="submit">
</form>

<br>

</body>
</html>